<div class="container-fluid bg-light">
  <div class="jumbotron center-middle">
    <h1>Welcome, {{userName}}!</h1>
    <form>
      <label for="user">Name: </label>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>
  </div>

  <div class="bg-grey">
    <br>
    <div>
      <h2 class="center-middle">To Do List for {{month}}/{{day}}/{{year}}</h2>
      <h3 class="center-middle">{{currentFocus}}</h3>
      <div class="center-middle">
        <button class="btn btn-small btn-info" (click)="ToggleAddTask()">Add New Task</button>
      </div>
      <br>
    </div>

    <div class="center-middle" *ngIf="addingTask">
      <div class="left-middle">
        <h3>Add Task</h3>
        <label>Enter Task Description:</label>
        <input [(ngModel)]="newDescription" name="newDescription">
        <label>Enter Task Priority (1-3):</label><br>
        <input type="radio" [(ngModel)]="newPriority" [value]="1">1 (Low Priority)<br>
        <input type="radio" [(ngModel)]="newPriority" [value]="2">2 (Medium Priority)<br>
        <input type="radio" [(ngModel)]="newPriority" [value]="3">3 (High Priority)<br>
        <button class="btn btn-small btn-info" (click)="AddTask(newDescription,newPriority)">Add</button>
      </div>
    </div>
    <div class="center-middle" *ngIf="selectedTask">
      <div class="left-middle">
        <h3>Edit Task</h3>
        <b>{{selectedTask.description}}</b><br>
        <label>Enter Task Description:</label>
        <input [(ngModel)]="selectedTask.description">
        <label>Enter Task Priority (1-3):</label><br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority)<br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority)<br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority)<br>
        <label>Task Done:</label><br>
        <input type="radio" [(ngModel)]="selectedTask.done" [value]="true">Yes<br>
        <input type="radio" [(ngModel)]="selectedTask.done" [value]="false">No<br>
        <button class="btn btn-small btn-info" (click)="FinishedEditing()">Done</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!-- ul list of tasks -->
        <app-task-list [childTaskList]="masterTaskList" [selectedTask]="selectedTask" (clickEditSender)="EditTask($event)" (clickRemoveSender)="RemoveTask($event)"></app-task-list>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
